main{
    display: flex;
    justify-content: center;
}

#container{
    margin-top: 50px;
}

body{
    background-color: #000;
}

#score{
    color: #fff;
    text-align: center;
}

#controls{
    color: #fff;
    text-align: center;
}

#controls-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#controls_p{
    color: #fff;
    text-align: left;
    margin: 2%;
}